<root>
    <print>
    .----------------.  .----------------.  .----------------.  .----------------.  .----------------.
    | .--------------. || .--------------. || .--------------. || .--------------. || .--------------. |
    | |  ____  ____  | || |      __      | || |  _______     | || |   ______     | || |     ____     | |
    | | |_   ||   _| | || |     /  \     | || | |_   __ \    | || |  |_   __ \   | || |   .'    `.   | |
    | |   | |__| |   | || |    / /\ \    | || |   | |__) |   | || |    | |__) |  | || |  /  .--.  \  | |
    | |   |  __  |   | || |   / ____ \   | || |   |  __ /    | || |    |  ___/   | || |  | |    | |  | |
    | |  _| |  | |_  | || | _/ /    \ \_ | || |  _| |  \ \_  | || |   _| |_      | || |  \  `--'  /  | |
    | | |____||____| | || ||____|  |____|| || | |____| |___| | || |  |_____|     | || |   `.____.'   | |
    | |              | || |              | || |              | || |              | || |              | |
    | '--------------' || '--------------' || '--------------' || '--------------' || '--------------' |
    '----------------'  '----------------'  '----------------'  '----------------'  '----------------'
    </print>

    <velocity>
        #foreach($value in $list)
            $value
        #end
     ============================================================================
     |  #set($keypairs = $test)                                                  |
     |  ##Public Key: $keypairs.getPublicKey()                                    |
     |  ##Private Key: $keypairs.getPrivateKey()                                  |
     ============================================================================
    </velocity>
    <command-input variable="resultValue">Enter the secret to be kept:</command-input>
    <velocity>
        Showing the result: $resultValue
##       #foreach($fragment in $client.splitToShare($resultValue))
##            index:$fragment.index fragment: $gragment.value
##       #end
    </velocity>
</root>



