<root>
    <print>
    .----------------.  .----------------.  .----------------.  .----------------.  .----------------.
    | .--------------. || .--------------. || .--------------. || .--------------. || .--------------. |
    | |  ____  ____  | || |      __      | || |  _______     | || |   ______     | || |     ____     | |
    | | |_   ||   _| | || |     /  \     | || | |_   __ \    | || |  |_   __ \   | || |   .'    `.   | |
    | |   | |__| |   | || |    / /\ \    | || |   | |__) |   | || |    | |__) |  | || |  /  .--.  \  | |
    | |   |  __  |   | || |   / ____ \   | || |   |  __ /    | || |    |  ___/   | || |  | |    | |  | |
    | |  _| |  | |_  | || | _/ /    \ \_ | || |  _| |  \ \_  | || |   _| |_      | || |  \  `--'  /  | |
    | | |____||____| | || ||____|  |____|| || | |____| |___| | || |  |_____|     | || |   `.____.'   | |
    | |              | || |              | || |              | || |              | || |              | |
    | '--------------' || '--------------' || '--------------' || '--------------' || '--------------' |
    '----------------'  '----------------'  '----------------'  '----------------'  '----------------'
    </print>

<velocity>
   #set($keypairs = $client.createKeyPairs())
    <br/>
    ======================= Key pairs ============================
    These are the keys that will be used to keep your secret. Keep them.
    <br/>
    Private Key: $keypairs.privateKey
    Public Key: $keypairs.publicKey
</velocity>
<command-input variable="resultValue">Enter the secret to be kept:</command-input>
<velocity>
    #set($secretEncrypted = $client.encrypt($resultValue, $keypairs))
    <br/>
    ======================= Secret Encrypted ============================
    <br/>
    Showing the SECRET: $resultValue
    SECRET Encrypted: $secretEncrypted
    <br/>
    ======================= Fragmented secret ============================
    <br/>
   #foreach($fragment in $client.split($secretEncrypted))
    index:$fragment.index fragment: $fragment.value
   #end
    <br/>
    ======================= Send the fragments ============================
    <br/>
    Send the fragmets to the Harpo P2P network...
</velocity>
</root>



